@{
    ViewData["Title"] = "Home Page";
}

<div class="card mb-3" style="width: 80rem;">
    <div class="card-body">
        <img src="https://s26162.pcdn.co/wp-content/uploads/2022/05/Best-Reviewed-Books.jpeg" class="card-img" alt="Libros">
        <div class="card-img-overlay">
            
            <h1 class="text-center text-white" style="font-family: 'Times New Roman', Times, serif ; padding: 20px 10px 10px">Libros con limon y sal</h1>
            <p style="font-family: 'Times New Roman', Times, serif; text-align:center; color:white">Pagina Desarrollada para Programacion IV</a>.</p>
        </div>
    </div>
</div>
