@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="padding: 20px 10px 10px">@ViewData["Title"]</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mollis quam sed congue laoreet. Etiam eget diam mauris. Sed nibh ligula, malesuada nec nulla a, tristique eleifend mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla vitae magna sapien. Vivamus magna leo, sagittis sed nulla vitae, eleifend rhoncus ipsum. Integer vel orci quis enim euismod varius ac nec tortor. Donec tincidunt eu diam eget posuere. Suspendisse nisl est, efficitur sed mauris quis, ullamcorper placerat neque. Nulla ut feugiat nibh. Aliquam blandit odio ac eleifend accumsan. Curabitur vulputate fermentum lectus, suscipit gravida ipsum molestie ut.</p>
